.advantage-item {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &--blue {
    background-color: $blue;
  }

  &--with-image {
    color: $white;

    .advantage-item__wrapper {
      min-height: 191px;
      padding-top: 39px;

      @media (min-width: $tablet-width) {
        min-height: 256px;
        padding-top: 43px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 51px;
      }
    }

    &:first-child {
      .advantage-item__wrapper {
        min-height: 211px;
        padding-top: 55px;

        @media (min-width: $tablet-width) {
          min-height: 256px;
          padding-top: 40px;
        }

        @media (min-width: $desktop-width) {
          padding-top: 47px;
        }
      }
    }

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      &:nth-child(n) {
        .advantage-item__image-wrapper {
          grid-column: 2 / -1;
        }
      }

      &:nth-child(2n) {
        .advantage-item__image-wrapper {
          order: -1;
          grid-column: 1 / 3;
        }
      }
    }
  }

  &--with-border {
    @media (max-width: $mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 87.5%;
        height: 1px;
        background-color: $gray-for-advantage-border;
      }
    }
  }
}

.advantage-item__wrapper {
  width: 100%;
  margin: auto;
  min-height: 168px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.advantage-item__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 13px;
  }
}

.advantage-item__number {
  margin: 0;
  margin-bottom: 17px;

  &::before {
    content: "— ";
  }

  &::after {
    content: " —";
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantage-item__description {
  margin: 0;
  margin-bottom: 10px;
}

.advantage-item__image {
  display: block;
  width: 100%;
  height: 260px;
  align-self: center;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}
