.body-wrapper {
  background-color: $white;
  max-width: 1200px;
  min-width: 320px;
  margin: auto;

  @media (min-width: $desktop-width) {
    box-shadow: 0 5px 15px rgba($dark-for-body-shadow, 0.2);
  }
}
