.button {
  display: block;
  width: 100%;
  max-width: 458px;
  margin: auto;
  padding: 14px 20px 18px;
  background-color: $blue;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: none;
  outline: none;
}
