.controls {
  .controls__progress {
    margin: auto;

    @media (min-width: $tablet-width) {
      position: absolute;
      margin-top: -2px;
      margin-left: 93px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
