.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.copyright__text {
  margin: 0;
  margin-top: 5px;
  margin-right: 12px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
}

.copyright__link {
  display: flex;

  &:hover,
  &:focus {
    .copyright__icon {
      fill: $blue;
    }
  }

  &:active {
    .copyright__icon {
      fill: $black;
      opacity: 0.3;
    }
  }
}
