.features__list {
  padding: 35px 20px;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.features__item {
  width: 100%;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
}
