.footer__wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 39px 20px 23px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    padding: 36px 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 33px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}

.footer__social {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.footer__copyright {
  margin: 0;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}
