.footer {
  padding: 38px 20px 23px;
}

.footer__wrapper {
  width: auto;
  margin: auto;
}

.footer__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

