.header__navigation {
  margin-bottom: 56px;
}

.header__image {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 85px;
  background-image: url("./../img/header-image.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: $gray;

  &--inner {
    padding-top: 52px;
    padding-bottom: 57px;
  }

  img {
    background-color: darken($gray, 20%);
  }
}
