.hotels {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hotels__wrapper {
  width: 100%;
  margin: auto;
  padding: 31px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }
}

.hotels__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

.hotels__descritpion {
  margin: 0;
  margin-bottom: 28px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.hotels__find {
  margin-bottom: 19px;
  max-width: 458px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.hotels__map {
  width: 100%;
  height: 350px;
  border: none;
  margin: auto;
  background-image: url("../img/map-mobile.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
