.navigation {
  position: relative;
  background-color: $white;

  .navigation__toggle {
    position: absolute;
    border: none;
    cursor: pointer;
    bottom: -39px;
    right: 22px;
    width: 23px;
    height: 22px;
    background-image: url("../img/icon-menu.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--active {
    .navigation__item {
      display: block;
    }

    .navigation__toggle {
      top: 17px;
      right: 16px;
      width: 22px;
      height: 22px;
      background-image: url("../img/icon-cross.svg");
    }
  }

  &--no-js {
    .navigation__item {
      display: block;
    }

    .navigation__toggle {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    background-color: $blue;
  }
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.navigation__item {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    flex-basis: 19.92%;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  .navigation__link {
    display: block;
    width: 100%;
    padding: 10px 45px 5px;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    background-color: $blue;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 1px;
      box-shadow:
        0 1px 0 rgba($dark-for-shadow, 0.2),
        inset 0 1px 0 rgba($white, 0.2);

      &:hover,
      &:focus {
        background-color: $blue-for-hover;
      }

      &:active {
        background-color: $blue-for-active;
        color: rgba($white, 0.3);
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 26px;
      color: $black;
      background-color: $white;
      padding: 16px 5px 14px;

      &:hover,
      &:focus {
        color: $blue;
      }

      &:active {
        color: rgba($black, 0.3);
      }

      &--current {
        color: $brown-for-current;

        &:hover,
        &:focus {
          color: $brown-for-current-hover;
        }

        &:active {
          color: rgba($brown-for-current, 0.3);
        }
      }
    }
  }

  &:first-child .navigation__link {
    @media (max-width: $mobile-width-only) {
      box-shadow: 0 1px 0 rgba($dark-for-shadow, 0.2);
    }
  }

  &:last-child .navigation__link {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 0;
      box-shadow: inset 0 1px 0 rgba($white, 0.2);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 7px;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 0.2) 100%);
      }
    }
  }
}
