.photo-card {
  padding: 22px 20px 0;
  position: relative;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $gray-for-disabled;

    &:first-child {
      border-top: 1px solid $gray-for-disabled;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &--big {
      .photo-card__image {
        height: 400px;
      }

      .photo-card__wrapper {
        padding: 16px 20px 2px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3) {
      .photo-card__likes {
        margin-right: 6px;
      }
    }
  }
}

.photo-card__wrapper {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 16px 30px 2px 20px;
    background-color: $light-gray;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2, min-content);
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    background-color: rgba($black, 0.3);
  }
}

.photo-card__link {
  display: block;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 10px;
  }

  &:focus {
    opacity: 0.8;
  }
}

.photo-card__image {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 267px;
  }
}

.photo-card__title {
  margin: 0;
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  grid-column: 1 / 2;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo-card__author {
  margin: 0;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 24px;
  grid-column: 1 / 2;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo-card__likes {
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  margin-left: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  grid-column: 2 / -1;
  grid-row: 1 / -1;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 0;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }

  svg {
    opacity: 0.3;
    margin-top: -2px;
    margin-right: 14px;

    @media (min-width: $tablet-width) {
      margin-top: -1px;
      margin-right: 9px;
    }

    @media (min-width: $desktop-width) {
      opacity: 1;
      fill: $white;
    }
  }
}
