.photo-card {
  padding-top: 22px;
  padding-bottom: 15px;
  display: grid;
  grid-template-rows: repeat(4, min-content);
}

.photo-card__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  grid-row: 2 / 3;
}

.photo-card__link {
  display: flex;
}

.photo-card__author {
  font-size: 14px;
  line-height: 24px;
}

.photo-card__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
}
