.presentation {
  max-width: 800px;
  margin: auto;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}

.presentation__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.presentation__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.presentation__video {
  display: flex;
  margin: auto;
}
