.presentation {
  padding-top: 31px;
  padding-bottom: 105px;

  @media (min-width: $tablet-width) {
    padding: 49px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 200px 85px;
  }
}

.presentation__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.presentation__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 40px;
  }
}

.presentation__description {
  margin: 0;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.presentation__video {
  margin-left: auto;
  margin-right: auto;
}
