.progress {
  width: 87.5%;
  padding: 22px 23px 20px 22px;
  background-color: rgba($black, 0.6);
  position: relative;

  @media (min-width: $tablet-width) {
    width: 60%;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 67.5%;
  }
}

.progress__bar {
  height: 3px;
  background-color: rgba($white, 0.2);
}

.progress__toggle {
  position: absolute;
  top: 19px;
  left: 58px;
  width: 9px;
  height: 9px;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 113px;
  }
}
