.reasons__header-wrapper {
  width: auto;
  padding: 32px 20px 27px;
}

.reasons__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.reasons__intro {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.reasons__list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.reasons__advantage-item {
  @media (max-width: $mobile-width-only) {
    grid-column: 1 / -1;
  }

  @media (min-width: $tablet-width) {
    grid-column: auto;

    &--with-image {
      grid-column: 1 / -1;
    }
  }
}

.reasons__features {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
