.review {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }

  iframe {
    display: none;
  }
}

.review__header-wrapper {
  padding: 36px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 61px 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 112px 120px 0;
  }
}

.review__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.review__description {
  margin: 0;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}
