.review {
  max-width: 1200px;
  margin: auto;
  padding: 36px 20px 10px 20px;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.review__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
