.social {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $blue;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 46px;
    height: 48px;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--twitter {
    &::before {
      background-image: url("../img/icon-twitter.svg");
    }
  }

  &--facebook {
    &::before {
      background-image: url("../img/icon-facebook.svg");
    }
  }

  &--youtube {
    &::before {
      background-image: url("../img/icon-youtube.svg");
    }
  }

  &:hover,
  &:focus {
    background-color: $blue-for-hover;
  }

  &:active {
    background-color: $blue-for-active;

    &::before {
      opacity: 0.3;
    }
  }
}
