.social {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: $blue-for-hover;
  }

  &:active {
    background-color: $blue-for-active;

    .social__icon {
      opacity: 0.3;
    }
  }
}
